*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, #e7dfed, #6baddf);
}



.section1 {
    /* border: 1px solid black; */
    padding-left: 115px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    width: 49%;
}

.section1 div {
    display: flex;
    align-items: center; 
    font-size: 40px;
}

.section1 img {
    width: 50px;
    height: auto;
    margin-right: 20px; 
    box-shadow: #a27bcf;
    background-color: white;
    border-radius: 50px;
}

.section1 container{
    display: flex;
    flex-direction: column;
    justify-content:left; 

}

.section1 container span {
    font-size: 86px;
}
.section1 container p {
    font-size: 40px;
}



.section3{
    /* border: 1px solid black; */
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}
.section3 .box{
    /* border: 1px solid black; */
    /* background-color: aquamarine; */
    border-radius: 24px;
    width: 220px;
    height: 220px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between; 
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(254, 251, 251);
    margin-top: 20px;
    
}

.section3 .box i {
    font-size: 34px;
}

#template-box-1 {
    color: #7316dd;
}
#template-box-2  {
    color: rgb(244, 244, 36);
}
#template-box-2 .yellow {
    color: rgb(181, 181, 25);
}
#template-box-2 .brown {
    color:  rgb(65, 65, 6);
}
#template-box-3 {
    color: #0e6c18;
}


/* resume */
.section2 {
    /* border: 1px solid black; */
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 16px;
    width: 730px;
    height: 160vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

.section2 aside{
    /* border: 1px solid black; */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.section2 .bg {
    height: 15%;
    width: 100%;
    border-top-left-radius: 16px;
    background-color: bisque;
}
.section2 .bg img{
    height: 160px;
    width: auto;
    border-top-left-radius: 16px;
    background-color: bisque;
}

.section2 .profileee{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(to bottom right, #e7dfed, #aacde9);
}

.section2 .intro {
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.section2 .intro h1{
    font-size: 25px;
}
.section2 .intro h2{
    font-size: 20px;
}
.section2 .intro p{
    font-size: 15px;
}
.section2 .intro span{
    font-size: 12px;
    color:rgb(113, 117, 117);
}

.section2 .contact {
    height:25% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:left;
    border-top: 1px solid black ;
}

.section2 .contact i{
    font-size: 23px;
    margin-right: 18px;
    background-color: rgb(234, 234, 234);
    border-radius: 50%;
    padding: 7px;
}

.section2 .contact div {
    display: flex;
}

.section2 .contact div  div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.section2 .contact div  span{
    color:rgb(113, 117, 117);
}
.section2 .contact div  a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}


/*  */
.section2 .social {
    height:40% ;
    width: 100%;
    display: flex;
    padding-top:25px;
    flex-direction: column;
    justify-content: space-between;
    align-items:left;
    border-top: 1px solid black ;
}

.section2 .social i{
    font-size: 23px;
    margin-right: 18px;
    color: #000;
    border-radius: 50%;
    padding: 7px;
}

.section2 .social div {
    display: flex;
}

.section2 .social div  div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.section2 .social div  span{
    color:rgb(113, 117, 117);
}
.section2 .social div  a{
    color:rgb(0, 0, 0);
    text-decoration: none;

}
.section2 .social div  img{
   height: 30px;
   width: auto;
   margin-right: 20px;

}

.section2 container{
    background-color: white;
    border-top-right-radius: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    padding-left: 20px;
    padding-top: 30px;
    /* margin-left: 25px; */
}

.section2 container .heading {
    display: flex;
    flex-direction: row;
}
.section2 container .heading i {
    padding: 5px;
    border-radius: 50%;
    color: #7a21ad;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.section2 container .experience{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid black;
    padding: 20px;
    margin-left: 7px;
    gap: 3px;
}

.section2 container .experience .box {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ede9f2;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    width: auto;
}

.section2 container .experience img {
    height: 30px;
    width: auto;
}

.section2 container .experience .box div {
    font-size: 12px;
    display: flex;
}

/* .section2 container .experience .box div i{
    font-size: 12px;
} */

.section2 container .experience .box div div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.section2 container .experience .box div .div1{
    align-items: end;
}
.section2 container .experience .box div .div1 i{
    margin-right: 10px;
}
.section2 container .experience .box div .div1 .Presentlocation{
    padding: 2px 7px;
    border-radius: 10%;
    background-color: #c8a8ed;
}


/*  */
.section2 container .skills-box{
    border-left: 1px solid black;
    margin-left: 7px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}


.section2 container .skills{
  
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-content: center;
    height: fit-content;
      
}

.section2  container .skills > div {
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-right: 9px;
    color: #7316dd;
    background-color:rgb(247, 252, 255);
  }
  
  .section2 container .skills .box-heading {
    border: none;
    background-color: transparent;
  }
  .section2 container .skills .box-heading i {
    padding: 7px;
    background-color: rgb(234, 202, 234);
    border-radius: 50%;
  }
  .section2 container .skills .box-heading  {
    padding: 7px;
  }


.section2 container .skills2{
  
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.section2  container .skills2 > div {
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-right: 9px;
    color: rgb(46, 44, 143);
    align-content: center;
    height: 60px; 
    background-color:rgb(247, 252, 255);

  }
  
  .section2 container .skills2 .box-heading {
    border: none;
    background-color: transparent;
  }
  .section2 container .skills2 .box-heading i {
    padding: 7px;
    background-color: rgb(163, 213, 225);
    border-radius: 50%;
  }
  .section2 container .skills2 .box-heading  {
    padding: 7px;
  }

  /*  */
  .section2 .education{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 1px solid black;
    padding: 20px;
    margin-left: 7px;
    font-size: 10px;
  }

  .section2 .education .box {
    height: 100px;
    background-color:rgb(247, 252, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
  }
  .section2 .education .box div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .section2 .education .box img{
    height: 40px;
    margin-right: 7px;
  }





/*  */
.section2 .project-box{
    border-left: 1px solid black;
    margin-left: 7px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section2 .project-box .box-set {
    display: flex;
    flex-direction: column;
    width: 210px;    
    background-color:rgb(247, 252, 255);
    height: fit-content;
    padding: 15px;
}

.section2 .project-box .box-set i{
    margin-right: 10px;
}

.section2 .project-box .box{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
 
.section2 .project-box img{
    height: 40px;
    width: auto;
    margin-right: 15px;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}


/*  */
.section2 .tools  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    font-size: 10px;
}

.section2 .tools .box{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background-color:rgb(229, 231, 232);
   height: fit-content;
   width: 110px;
   padding: 5px;
   height: 100px;
   border-radius: 5px;
}

.section2 .tools .box p{
    font-size: 10px;
    color:rgb(105, 104, 105);
}

.section2 .tools img{
    height: 30px;
    width: auto;
}